infra/modules/document_pipeline/state_machine.asl.json
{
  "Comment": "Document processing pipeline: S3 -> Textract -> Normalize -> LLM -> Persist",
  "TimeoutSeconds": 1800,
  "StartAt": "ClassifyAndPrep",
  "States": {
    "ClassifyAndPrep": {
      "Type": "Task",
      "Resource": "${lambda_classify_arn}",
      "ResultPath": "$.prep",
      "Next": "ChooseTextPath"
    },
    "ChooseTextPath": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.prep.skip_textract",
          "BooleanEquals": true,
          "Next": "Normalize"
        }
      ],
      "Default": "StartTextract"
    },
    "StartTextract": {
      "Type": "Task",
      "Resource": "${lambda_start_textract_arn}",
      "ResultPath": "$.textract",
      "Next": "WaitBeforeCheck"
    },
    "WaitBeforeCheck": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckTextract"
    },
    "CheckTextract": {
      "Type": "Task",
      "Resource": "${lambda_check_textract_arn}",
      "ResultPath": "$.textractStatus",
      "Next": "TextractStatusChoice"
    },
    "TextractStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.textractStatus.status",
          "StringEquals": "SUCCEEDED",
          "Next": "FetchTextractBlocks"
        },
        {
          "Variable": "$.textractStatus.status",
          "StringEquals": "FAILED",
          "Next": "FailWorkflow"
        }
      ],
      "Default": "WaitBeforeCheck"
    },
    "FetchTextractBlocks": {
      "Type": "Task",
      "Resource": "${lambda_fetch_textract_arn}",
      "ResultPath": "$.textractBlocks",
      "Next": "Normalize"
    },
    "Normalize": {
      "Type": "Task",
      "Resource": "${lambda_normalize_arn}",
      "ResultPath": "$.normalized",
      "Next": "LLMExtract"
    },
    "LLMExtract": {
      "Type": "Task",
      "Resource": "${lambda_llm_extract_arn}",
      "ResultPath": "$.extracted",
      "Retry": [
        {
          "Comment": "Batch uploads can exhaust the Bedrock quota faster than the Lambda's internal backoff can absorb; retry the whole extraction with long intervals so queued documents drain.",
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout",
            "Lambda.TooManyRequestsException",
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "CheckIsValid"
    },
    "CheckIsValid": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.extracted.is_valid",
          "BooleanEquals": false,
          "Next": "InvalidDocument"
        }
      ],
      "Default": "Persist"
    },
    "InvalidDocument": {
      "Type": "Succeed",
      "Comment": "Document was not valid for this pipeline - deleted from S3"
    },
    "Persist": {
      "Type": "Task",
      "Resource": "${lambda_persist_arn}",
      "ResultPath": "$.persisted",
      "Next": "Done"
    },
    "Done": { "Type": "Succeed" },
    "FailWorkflow": {
      "Type": "Fail",
      "Error": "TextractFailed",
      "Cause": "Textract job returned FAILED"
    }
  }
}
